<p-toast />
<form [formGroup]="forgetForm">
  <h3 class="mb-5 fw-bold">Forgot your password?</h3>
  <div class="group">
    <input type="email" id="inputtext" pInputText class="w-100" formControlName="email"
      [ngClass]="{'ng-invalid ng-dirty': f['email'].invalid && (f['email'].touched || isSubmitted )}"
      placeholder="Enter Email">
    <div *ngIf="(f['email'].touched || isSubmitted) && f['email'].invalid" class="text-danger">
      <small *ngIf="f['email'].errors?.['required']" class="p-error block">Email is required.</small>
      <small *ngIf="f['email'].errors?.['email']" class="p-error block">Invalid email address.</small>
    </div>
  </div>

  <div class="mt-5">
    <app-main-btn [text]="'Reset'" [isLoading]="isLoading" [classes]="'rounded-4 w-100'" [type]="'submit'"
      (clickEmitter)="submit()"></app-main-btn>
  </div>
</form>