<p-toast />
<form [formGroup]="forgetForm">
    <h3 class="mb-5 fw-bold">Forgot your password?</h3>
    <div class="group">
        <input type="email" id="inputtext" pInputText class="w-100" formControlName="email"
            [ngClass]="{'ng-invalid': f['email'].invalid && f['email'].touched, ' ng-dirty' : f['email'].dirty}"
            placeholder="Enter Email">
    </div>

    <div class="mt-5">
        <app-main-btn [text]="'Reset'" [isLoading]="isLoading" [classes]="'rounded-4 w-100'" [type]="'submit'"
            (clickEmitter)="submit()"></app-main-btn>
    </div>
</form>