<div class="profile bg-white rounded-4 p-3">
    <p class="title">Quizes</p>

    <div class="row">
        @for (quiz of subjects; track quiz ) {
        <div class="col-md-4 mb-3 content" (click)="getExams(quiz._id)">
            <div class="position-relative d-flex justify-content-center">
                <img [src]="quiz.icon" class="w-100">
                <div class="name p-3 px-4">
                    <p class="m-0">{{quiz.name}}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>