.bg {
  background-color: #f0f4fc;
  /* background-image: linear-gradient(
    to left,
    rgba(240, 244, 252, 0.2),
    rgba(240, 244, 252, 0.5)
  ); */
  border-radius: 0 50px 50px 0;
  box-shadow: 0px 0px 5.3px rgba(0, 0, 0, 0.02),
    0px 0px 17.9px rgba(0, 0, 0, 0.03), 0px 0px 80px rgba(0, 0, 0, 0.05);
}

.body {
  padding: 50px 70px;
}
.content {
  width: 80%;
}
.btn {
  color: var(--main-color);
  font-weight: 500;
}

.active,
.btn:active {
  border-radius: 15px;
  padding: 5px 20px;
  border-color: #e0e0e9;
  font-weight: bold;
  color: var(--main-color);
}

img {
  scale: 1;
  transition: scale 0.4s ease-in-out;
  cursor: pointer;
  &:hover {
    scale: 1.05;
  }
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; /* Adjust spacing as needed */
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-top: 1px solid #ddd; /* Adjust color to your preference */
  margin: 0 10px; /* Space around the text */
}

.separator span {
  color: #888; /* Adjust text color */
  font-size: 14px; /* Adjust text size for responsiveness */
  white-space: nowrap; /* Prevent text from wrapping */
}

.icons i {
  margin: 0 35px;
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  box-shadow: rgba(134, 137, 139, 0.2) 0px 8px 24px;
  scale: 1;
  transition: scale 0.4s ease-in-out;
  cursor: pointer;
  &:hover {
    scale: 1.05;
  }
}
