<div class="row shadow-sm">
  <div class="col-md-6 p-0">
    <div class="bg body">
      <h1 class="fw-bold">Welcome to <br>
        <span style="color: var(--main-color);">Elevate</span>
      </h1>
      <p class="my-3">Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>
      <div class="d-flex justify-content-center my-8">
        <img src="../../../../assets/images/Auth/bro.png" width="70%">
      </div>
    </div>
  </div>
  <div class="col-md-6 p-0">
    <div class="body">
      <nav class="navbar bg-transparent mb-8">
        <div class="container-fluid">
          <div class="d-flex ms-auto align-items-center" role="search">
            <p-splitButton label="Language" [model]="items" text />
            <a routerLink="login" routerLinkActive="active" class="btn mx-3 text-decoration-none">
              Sign In
            </a>
            <a routerLink="register" routerLinkActive="active" class="btn text-decoration-none">
              Register
            </a>
          </div>
        </div>
      </nav>
      <div class="mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
