<div class="main">
    <div class="profile bg-white rounded-4 p-4 mb-3">
        <div class="d-flex align-items-center">
            <div class="img">
                <img src="../../../../assets/images/Dashboard/hero.png" alt="User" class="user-image" />
            </div>
            <div class="details mx-3">
                <h2>zead sayed</h2>
                <span>Voluptatem aut</span>
            </div>
        </div>
    </div>

    <app-quiz-details [subjects]="subjects"></app-quiz-details>
</div>