<p-toast />
<form class="" [formGroup]="registerForm">
  <h3 class="mb-4 fw-bold">Sign Up</h3>
  <div class="group">
    <input type="text" id="inputtext" pInputText class="w-100" formControlName="username"
      [ngClass]="{'ng-invalid': f['username'].invalid && f['username'].touched, ' ng-dirty' : f['username'].dirty}"
      placeholder="User Name">

    <input type="text" id="inputtext" pInputText class="w-100 my-3" formControlName="firstName"
      [ngClass]="{'ng-invalid': f['firstName'].invalid && f['firstName'].touched, ' ng-dirty' : f['firstName'].dirty}"
      placeholder="First Name">

    <input type="text" id="inputtext" pInputText class="w-100" formControlName="lastName"
      [ngClass]="{'ng-invalid': f['lastName'].invalid && f['lastName'].touched, ' ng-dirty' : f['lastName'].dirty}"
      placeholder="Last Name">

    <input type="email" id="inputtext" pInputText class="w-100 my-3" formControlName="email"
      [ngClass]="{'ng-invalid': f['email'].invalid && f['email'].touched, ' ng-dirty' : f['email'].dirty}"
      placeholder="Email">

    <input type="text" id="inputtext" pInputText class="w-100" formControlName="phone"
      [ngClass]="{'ng-invalid': f['phone'].invalid && f['phone'].touched, ' ng-dirty' : f['phone'].dirty}"
      placeholder="Phone">

    <!-- <input type="password" pInputText class="w-100 mt-3" id="password" placeholder="Password"
      [ngClass]="{'ng-invalid': f['password'].invalid && f['password'].touched, ' ng-dirty' : f['password'].dirty}"
      formControlName="password"> -->
    <div class="my-3">
      <p-password formControlName="password" [feedback]="false" [toggleMask]="true" placeholder="Password"
        [ngClass]="{'ng-invalid': f['password'].invalid && f['password'].touched, ' ng-dirty' : f['password'].dirty}" />
    </div>
    <div class="my-3">
      <p-password formControlName="rePassword" [feedback]="false" [toggleMask]="true" placeholder="Confirm Password"
        [ngClass]="{'ng-invalid': f['rePassword'].invalid && f['rePassword'].touched, ' ng-dirty' : f['rePassword'].dirty}" />
    </div>
    <!-- <input type="password" pInputText class="w-100 " id="password" placeholder="Confirm Password"
      [ngClass]="{'ng-invalid': f['rePassword'].invalid && f['rePassword'].touched, ' ng-dirty' : f['rePassword'].dirty}"
      formControlName="rePassword"> -->
  </div>
  <div class="mt-2 d-flex justify-content-end">
    <span>Already have an account? <a routerLink="/auth/login" class="text-decoration-none">Login</a></span>
  </div>

  <div class="my-3">
    <app-main-btn [text]="'Create Account'" [isLoading]="isLoading" [classes]="'rounded-4 w-100'" [type]="'submit'"
      (clickEmitter)="register()"></app-main-btn>
  </div>
</form>