.group input {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

:host::ng-deep .p-password {
  width: 100% !important;
}
:host::ng-deep .p-input-icon-right > .p-inputtext {
  width: 100% !important;
}
