<p-toast />
<form [formGroup]="resetForm">
    <h3 class="mb-5 fw-bold">Set a Paswword</h3>
    <div class="group">
        <input type="email" id="inputtext" pInputText class="w-100" formControlName="email" [ngClass]="{'ng-invalid': (f['email'].touched || isSubmitted) && f['email'].invalid,
        'ng-dirty': f['email'].dirty}" placeholder="Enter Email">
        <div *ngIf="(f['email'].touched || isSubmitted) && f['email'].invalid" class="text-danger">
            <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
            <small *ngIf="f['email'].errors?.['email']">Invalid email address.</small>
        </div>
        <div class="my-3">
            <p-password formControlName="newPassword" [feedback]="false" [toggleMask]="true" placeholder="New Password"
                [ngClass]="{'ng-invalid': (f['newPassword'].touched || isSubmitted) && f['newPassword'].invalid, ' ng-dirty' : f['newPassword'].dirty}" />
        </div>
    </div>
    <div class="mt-5">
        <app-main-btn [text]="'Confirm'" [isLoading]="isLoading" [classes]="'rounded-4 w-100'" [type]="'submit'"
            (clickEmitter)="reset()"></app-main-btn>
    </div>
</form>