<p-toast />
<form [formGroup]="loginForm">
  <h3 class="mb-5 fw-bold">Sign In</h3>
  <div class="group">
    <input type="email" id="inputtext" pInputText class="w-100" formControlName="email"
      [ngClass]="{'ng-invalid ng-dirty': f['email'].invalid && (f['email'].touched || isSubmitted )}"
      placeholder="Enter Email">
    <div *ngIf="(f['email'].touched || isSubmitted) && f['email'].invalid" class="text-danger">
      <small *ngIf="f['email'].errors?.['required']" class="p-error block">Email is required.</small>
      <small *ngIf="f['email'].errors?.['email']" class="p-error block">Invalid email address.</small>
    </div>

    <div class="my-3">
      <p-password formControlName="password" [feedback]="false" [toggleMask]="true" placeholder="Enter Password"
        [ngClass]="{'ng-invalid ng-dirty': (f['password'].touched || isSubmitted) && f['password'].invalid}" />
      <div *ngIf="(f['password'].touched || isSubmitted) && f['password'].invalid" class="text-danger">
        <small *ngIf="f['password'].errors?.['required']" class="p-error block">password is required.</small>
        <small *ngIf="f['password'].errors?.['password']" class="p-error block">Invalid Password address.</small>
      </div>
    </div>
  </div>
  <div class="mt-2 d-flex justify-content-end">
    <a routerLink="/auth/forget-password" class="text-decoration-none">Reset Password ?</a>
  </div>

  <div class="mt-5">
    <app-main-btn [text]="'Sign In'" [isLoading]="isLoading" [classes]="'rounded-4 w-100'" [type]="'submit'"
      (clickEmitter)="login()"></app-main-btn>
  </div>
</form>